{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{% static 'upload/img/fav.png' %}">
	<meta name="author" content="CodePixar">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>Tukangku | One Tukang for Every Need</title>
	{% block map %}
	{% endblock %}
	<!-- CSS -->
	{% block css %}
	{% endblock %}
<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body class="bg-light">
<!-- Start Header Area-->
<div class="mb-0">
	<nav class="navbar navbar-expand-lg navbar-white bg-white  main_box border-bottom p-2">
		<div class="container" style="max-width: 95%;">
			<!-- Brand and toggle get grouped for better mobile display -->
			<a class="navbar-brand font-weight-bold text-warning" href="{% url 'landing' %}" style="font-size: xx-large;">TUKANGKU</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
				<ul class="nav navbar-nav menu_nav ml-auto">
					<li class="nav-item m-auto"><a class="nav-link font-weight-normal text-secondary" href="{% url 'landing' %}">HOME</a></li>
					<li class="nav-item m-auto"><a class="nav-link font-weight-normal text-secondary" href="{% url 'request-create' %}">BUAT PEMESANAN</a></li>
					{% if user.is_authenticated %}
					<li class="nav-item m-auto"><a class="nav-link font-weight-normal text-secondary" href="{% url 'logout' %}">LOG OUT</a></li>
					<li class="nav-item ml-1">
						<a class="nav-link" href="{% url 'profile' %}">
							<img src="{{ user.profile.image.url }}" class="m-auto" style=" width: 30px; height: 30px; object-fit: cover; border-radius: 50%;">
						</a>
					</li>
					{% else %}
					<li class="nav-item m-auto"><a class="nav-link font-weight-normal text-secondary" href="{% url 'registerForm' %}">DAFTAR</a></li>
					<li class="nav-item"><a class="nav-link font-weight-normal text-secondary" href="{% url 'login' %}">MASUK</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
</div>
<main role="main" class="container mt-5 mb-5">
    <div class="row justify-content-center align-content-center">
		<div class="col-md-6 bg-white rounded border p-4">
			<div class="content-section">
				<form method="POST">
					{% csrf_token %}
					<fieldset class="form-group">
						<legend class="text-center mb-4">Reset Password</legend>
						{{ form|crispy }}
						<small class="text-secondary">
							Permintaan reset password akan di kirim ke email anda**
						</small>
						<br>
						<br>
					</fieldset>
					<div class="form-group">
						<button class="btn btn-info btn-block" type="submit">Reset Password</button>
						<a href="{% url 'profile' %}" role="button" class="btn btn-outline-info btn-block">Kembali</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>
