{% extends '../index.html' %}

{% load static %}
{% load widget_tweaks %}

{% block url %}
<li class="nav-item "><a class="nav-link" href="{% url 'home' %}">Home</a></li>
<li class="nav-item "><a class="nav-link" href="{% url 'daftar' %}">Become MyTukang</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'pesan' %}">Contact</a></li>

<img src="{{ user.profile.image.url }}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="img-profile dropdown mt-2 ">
	<div class="dropdown-menu dropdown-menu-right">
		<a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
		<a class="dropdown-item" href="#">Another action</a>
		<a class="dropdown-item" href="#">Something else here</a>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
	</div>

{% endblock %}

{% block content %}
<section class="features-area banner_gap">
	<div class="container">
		<div class="row ">
			<!-- Features -->
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="singel-features" style="margin: 10px;">
					<div style="margin-top: 10px;">
						<h1>Buat Lowongan</h1>
						<h6>Sub Judul</h6>
						<div class="col-md-12">
							<form action="" method="POST"> 
								{% csrf_token %}
								{% for hidden_field in form.hidden_fields %}
								{{ hidden_field }}
								  {% endfor %}
							
								{% if form.non_field_errors %}
									<div class="alert alert-danger" role="alert">
									{% for error in form.non_field_errors %}
										{{ error }}
									{% endfor %}
									</div>
								{% endif %}
							
								{% for field in form.visible_fields %}
									<div class="form-group">
									{{ field.label_tag }}
								
									{% if form.is_bound %}
										{% if field.errors %}
											{% render_field field class="form-control is-invalid" %}
										{% for error in field.errors %}
											<div class="invalid-feedback">
											{{ error }}
											</div>
										{% endfor %}
										{% else %}
											{% render_field field class="form-control is-valid" %}
										{% endif %}
									{% else %}
										{% render_field field class="form-control" %}
									{% endif %}
								
									{% if field.help_text %}
										<small class="form-text text-muted">{{ field.help_text }}</small>
									{% endif %}
									</div>
								{% endfor %}
							
							  <button type="submit" class="primary-btn">Kirim Data</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}