{% extends '../index.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block url %}
<li class="nav-item "><a class="nav-link" href="{% url 'home' %}">Home</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'pesan' %}">Pesan</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'pesan' %}">Tukang</a></li>
<img src="{{ user.profile.image.url }}" data-toggle="dropdown" data-toggle="dropdown" data-display="static" type="button" aria-haspopup="true" aria-expanded="false" class="img-profile dropdown mt-2 ">
	<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
		<a class="dropdown-item" href="{% url 'profile' %}">Profile, {{user.username }}</a>
		<a class="dropdown-item" href="#">Another action</a>
		<a class="dropdown-item" href="#">Something else here</a>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
	</div>
{% endblock %}

{% block content %}
<section class="section_gap" style="padding-top: 130px;">
    <ul class="progress-indicator">
		<li class="completed">
			<span class="bubble"></span>
			<i class="fa fa-check-circle"></i>
			deskripsi request
		</li>
		<li class="completed">
            <span class="bubble"></span>
            <i class="fa fa-check-circle"></i>
			konfirmasi
		</li>
		<li class="">
			<span class="bubble"></span>
			selesai
		</li>
	</ul>
    <div class="container" style="max-width: 95%;">
        <div class="row">
            <div class="col-lg-12">
                <div class="bg-white p-3 rounded shadow-sm mt-4">
                    <div class="list-orders">
                        {{ object.deskripsi }}
                        {{ object.files }}
                        <div class="col-lg-3">
                            <a href="{% url 'home' %}">
                                <button class="btn btn-primary btn-block">
                                    Home
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .flexer, .progress-indicator { 
        display: -webkit-box; 
        display: -moz-box; 
        display: -ms-flexbox; 
        display: -webkit-flex; 
        display: flex; 
        }
    .no-flexer, .progress-indicator.stacked { 
        display: block; 
        }
    .no-flexer-element { 
        -ms-flex: 0; 
        -webkit-flex: 0; 
        -moz-flex: 0; 
        flex: 0; 
        }
    .flexer-element, .progress-indicator > li { 
        -ms-flex: 1; 
        -webkit-flex: 1; 
        -moz-flex: 1; 
        flex: 1; 
        }
    .progress-indicator { 
        margin: 0; 
        padding: 0; 
        font-size: 80%; 
        text-transform: uppercase; 
        margin-bottom: 1em; 
            }
    .progress-indicator > li { 
        list-style: none; 
        text-align: center; 
        width: auto; 
        padding: 0; 
        margin: 0; 
        position: relative; 
        text-overflow: ellipsis; 
        color: #bebdbd; 
        display: block; 
        }
    .progress-indicator > li:hover { 
        color: #6e6e6e; 
        }
    .progress-indicator > li .bubble { 
        border-radius: 1000px; 
        width: 20px; 
        height: 20px; 
        background-color: #d5d4d2; 
        display: block; 
        margin: 0 auto 0.5em auto; 
        }
    .progress-indicator > li .bubble:before, 
    .progress-indicator > li .bubble:after { 
        display: block; 
        position: absolute; 
        top: 9px; 
        width: 100%; 
        height: 3px; 
        content: ''; 
        background-color: #d5d4d2; 
    }
    .progress-indicator > li .bubble:before { 
        left: 0; 
        } 
    .progress-indicator > li .bubble:after { 
        right: 0; 
        }
    .progress-indicator > li.completed { 
        color: rgb(38, 161, 38); 
        }
    .progress-indicator > li.completed .bubble { 
        background-color: #5cc85c; 
        color: #65d074; 
        border-color: #247830; 
        }
    .progress-indicator > li.completed .bubble:before, 
    .progress-indicator > li.completed .bubble:after { 
        background-color: #5cc85c; 
        border-color: #247830; 
        }
    .progress-indicator > li a:hover .bubble { 
        background-color: #5671d0; 
        color: #5671d0; 
        border-color: #1f306e; 
        }
    
</style>
{% endblock %}