.grid {
	max-width: 240px;
	margin: 0 auto;
	display: grid;
	grid-gap: 1rem;
	object-fit: cover;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

@media (max-width: 600px) {
	.grid { 
		max-width: 213px;
		margin: 0 auto;
		display: grid;
		grid-gap: 1rem;
		object-fit: cover;
		grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
	}
  }