.tinggi {
      height: 260px;
}

.banner_gap {
      padding-top: 150px;
}

.img-profile {
      width: 30px; 
      height: 30px; 
      object-fit: cover; 
      border-radius: 50%;
}

.img-profile-big {
      border-radius: 50%; 
      width: 200px; 
      height: 200px; 
      object-fit: cover;
}

.roboto {
      font-family: roboto;
}

.logo_h {
      padding: 10px;
}

