{% extends '../index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block url %}
<li class="nav-item "><a class="nav-link" href="{% url 'home' %}">Home</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'pesan' %}">Contact</a></li>

<img src="{{ user.profile.image.url }}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="img-profile dropdown mt-2 ">
	<div class="dropdown-menu dropdown-menu-right">
		<a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
		<a class="dropdown-item" href="#">Another action</a>
		<a class="dropdown-item" href="#">Something else here</a>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
	</div>

{% endblock %}

{% block content %}
<section class="features-area banner_gap section_gap">
	<div class="container">
		<div class="row ">
			<!-- Features -->
			<div class="col-lg-12">
				<div class="singel-features" style="margin: 10px;">
					<h2>Hapus Post</h2>
					<div style="margin-top: 10px; " class="border rounded col-lg-8">
						<div class="mt-3 ml-2 mr-2 mb-3">
							<div class="content-section">
                                <form method="POST">
                                    {% csrf_token %}
                                    <fieldset class="form-group">
                                        <legend class="border-bottom mb-4">Delete Post</legend>
                                        <h2>Are you sure you want to delete the post "{{ object.judul }}"</h2>
                                    </fieldset>
                                    <div class="form-group">
                                        <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                                        <a class="btn btn-outline-secondary" href="{% url 'minta-detail' object.id %}">Cancel</a>
                                    </div>
                                </form>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}