{% extends '../index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block pemesanan %}
<li class="nav-item m-auto"><a class="nav-link font-weight-normal text-secondary" href="{% url 'request-create' %}">BUAT PEMESANAN</a></li>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/grid.css' %}">
{% endblock %}

{% block url %}
<div class="d-flex justify-content-between m-auto">
	<div class="nav-item">
		<small>
			<a class="nav-link font-weight-normal text-uppercase text-secondary" href="{% url 'home' %}">
				semua design
			</a>
		</small>
	</div>
	<div class="nav-item">
		<div class="dropdown">
			<small>
				<a class="dropdown-toggle nav-link font-weight-normal text-uppercase text-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Daftar Ruangan
				</a>
			</small>
			<div class="dropdown-menu m-2 bg-light border border-light" aria-labelledby="dropdownMenuLink">
				{% for d in gigs %}
				<a class="dropdown-item" href="#">{{ d.jenis_ruangan }}</a>
				{% endfor %}
			</div>
		  </div>
		</div>
	</div>
	<div class="nav-item">
		<div class="dropdown">
			<small>
				<a class="dropdown-toggle nav-link text-uppercase font-weight-normal text-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Daftar Professional
				</a>
			</small>
			<div class="dropdown-menu m-2 bg-light border border-light" aria-labelledby="dropdownMenuLink">
				{% for d in gigs %}
				<a class="dropdown-item" href="#">{{ d.kategori }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<!-- start banner Area -->
<section class="banner-area section_gap banner_gap">
	<div class="container" style="max-width: 95%;">
		<div class="row">
			<div class="col-lg-4 mt-3">
				<div class="col-lg-12 bg-white rounded shadow-sm p-3">
					<div class="col-lg-12 d-flex justify-content-center ">
						<img src="{{ user.profile.image.url }}" class="border" style="border-radius: 50%; width: 200px; height: 200px; object-fit: cover;"> 
					</div>
					<div class="col-lg-12 d-flex justify-content-center mt-3">
						<h4>{{ user.username }}</h4>
					</div>
					{% if user.profile.deskripsi  %}
					<div class="col-lg-12 d-flex justify-content-center text-justify mt-0 ">
						<p>{{ user.profile.deskripsi }}</p><span></span>
					</div>
					{% else %}
					<div class="col-lg-12 d-flex justify-content-center text-justify mt-0">
						<p>Belum ada deskripsi</p><span></span>
					</div>
					{% endif %}
					<div class="col-lg-12 mt-0">
						<span class="d-flex justify-content-center">
							<button type="button" class="btn btn-primary btn-block ml-2 mr-2" data-toggle="modal" data-target="#exampleModal">
								Edit Profile
							</button>
						</span>
						<div class="row">
							<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 95%;">
									<div class="modal-content">
										<div class="modal-header">
											<div class="col-lg-11 mb-0">
												<h3 class="">Profile Anda</h3>
											</div>
											<div class="col-lg-1">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<hr>
										</div>
										<div class="modal-body">
											<div class="col-lg-12">
												<form method="POST" enctype="multipart/form-data">
													{% csrf_token %}
													<div class="row">
														<div class="col-lg-6">
															{{ u_form.username|as_crispy_field }}
														</div>
														<div class="col-lg-6">
															{{ u_form.email|as_crispy_field }}
														</div>
														<div class="col-lg-12">
															{{ p_form.deskripsi|as_crispy_field }}
														</div>
														<div class="col-lg-12">
															{{ p_form.image|as_crispy_field }}
														</div>
													</div>
													<div class="modal-footer">
														<a href="{% url 'password_reset' %}" role="button" class="btn btn-outline-primary">Reset Password</a>
														<button class="btn btn-primary" type="submit">Update</button>
													</div>
												 </form>
											</div>
										</div>
									</div>
								</div>
							</div>      
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8 mt-3">
				<div class="col-lg-12 bg-white rounded shadow-sm p-3">
					<h3 class="ml-1 roboto">Terkini</h3>
					<hr>
					<div class="ml-2 mr-2">
						<div class="row">
							<div class="col-lg-12">
								<ul class="nav nav-tabs" id="myTab" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" id="home-tab" data-toggle="tab" href="#semua" role="tab" aria-controls="home" aria-selected="true"><small class="text-secondary">SEMUA</small></a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="profile-tab" data-toggle="tab" href="#antrian" role="tab" aria-controls="profile" aria-selected="false"><small class="text-secondary">DALAM ANTRIAN</small></a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="contact-tab" data-toggle="tab" href="#pengerjaan" role="tab" aria-controls="contact" aria-selected="false"><small class="text-secondary">DALAM PENGERJAAN</small></a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="profile-tab" data-toggle="tab" href="#menunggu" role="tab" aria-controls="profile" aria-selected="false"><small class="text-secondary">MENUNGGU PEMBAYARAN</small></a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="contact-tab" data-toggle="tab" href="#selesai" role="tab" aria-controls="contact" aria-selected="false"><small class="text-secondary">SELESAI</small></a>
								  </li>
								</ul>
								<div class="tab-content" id="myTabContent">
									<div class="tab-pane fade show active" id="semua" role="tabpanel" aria-labelledby="home-tab">
										{% for post in posts %}
											<div class="card mb-3" style="max-width: 100%; width: 100%;">
												<div class="card-body">
													{% if post.status == 'Dalam Pengerjaan' %}
													<div class="progress mb-2" style="height: 3px;">
														<div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
													{% elif post.status == 'Selesai' %}
													<div class="progress mb-2" style="height: 3px;">
														<div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
													{% elif post.status == 'Menunggu Pembayaran' %}
													<div class="progress mb-2" style="height: 3px;">
														<div class="progress-bar bg-primary" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
													{% else %}
													<div class="progress mb-2" style="height: 3px;">
														<div class="progress-bar bg-danger" role="progressbar" style="width: 1%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
													{% endif %}
													<div class="media">
														{% if post.status == 'Dalam Pengerjaan' %}
														<img class="align-self-center mr-3" src="{% static 'image/work.png' %}" alt="{{ user.username }}">
														{% elif post.status == 'Selesai' %}
														<img class="align-self-center mr-3" src="{% static 'image/selesai.png' %}" alt="{{ user.username }}">
														{% elif post.status == 'Menunggu Pembayaran' %}
														<img class="align-self-center mr-3" src="{% static 'image/wait.png' %}" alt="{{ user.username }}">
														{% else %}
														<img class="align-self-center mr-3" src="{% static 'image/queue.png' %}" alt="{{ user.username }}">
														{% endif %}
														<div class="media-body">
															<small class="font-weight-normal">
																<span class="text-right">No.ID {{ post.id }}</span>
															</small><br>
															<small class="m-0 font-weight-bold text-dark text-capitalize">
																{{ post.nama_depan }} {{ post.nama_belakang }} 
																<a href="{% url 'detail-permintaan' post.id %}" class="badge badge-primary">
																	Selengkapnya
																</a>
																<br>
																<span class="font-weight-normal">
																	{{ post.buat|date:'M d, Y'}} | 
																	{% if post.status == 'Dalam Pengerjaan' %}
																	<span class="font-weight-bold text-primary">
																		{{ post.status }}
																	</span>
																	{% elif post.status == 'Selesai' %}
																	<span class="font-weight-bold text-success">
																		{{ post.status }} <a href="{% url 'cetak-invoice' post.id %}" class="badge badge-primary">Cetak Invoice</a><br>
																	</span>
																	{% elif post.status == 'Menunggu Pembayaran' %}
																	<span class="font-weight-bold text-info">
																		{{ post.status }}
																	</span>
																	{% else %}
																	<span class="font-weight-bold text-warning">
																		{{ post.status }}
																	</span>
																	{% endif %}
																</span>
															</small>
														</div>
													</div>
												</div>
											</div>
										{% endfor %}
									</div>
									<div class="tab-pane fade" id="antrian" role="tabpanel" aria-labelledby="profile-tab">
										{% for post in posts %}
											{% if post.status != 'Dalam Pengerjaan' and post.status != 'Selesai' and post.status != 'Menunggu Pembayaran' %}
											<div class="card mb-3" style="max-width: 100%; width: 100%;">
												<div class="card-body">
													<div class="progress mb-2" style="height: 3px;">
														<div class="progress-bar bg-danger" role="progressbar" style="width: 1%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
													<div class="media">
														<img class="align-self-center mr-3" src="{% static 'image/queue.png' %}" alt="{{ user.username }}">
														<div class="media-body">
															<small class="font-weight-normal">
																<span class="text-right">No.ID {{ post.id }}</span>
															</small><br>
															<small class="m-0 font-weight-bold text-dark text-capitalize">
																{{ post.nama_depan }} {{ post.nama_belakang }} <a href="{% url 'detail-permintaan' post.id %}" class="badge badge-primary">Selengkapnya</a><br>
																<span class="font-weight-normal">
																	{{ post.buat|date:'M d, Y'}} | 
																	{% if post.status == 'Dalam Pengerjaan' %}
																	<span class="font-weight-bold text-primary">
																		{{ post.status }}
																	</span>
																	{% elif post.status == 'Selesai' %}
																	<span class="font-weight-bold text-success">
																		{{ post.status }} <a href="{% url 'cetak-invoice' post.id %}" class="badge badge-primary">Cetak Invoice</a><br>
																	</span>
																	{% else %}
																	<span class="font-weight-bold text-warning">
																		{{ post.status }}
																	</span>
																	{% endif %}
																</span>
															</small>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
										{% endfor %}
									</div>
									<div class="tab-pane fade" id="menunggu" role="tabpanel" aria-labelledby="profile-tab">
										{% for post in posts %}
											{% if post.status == 'Menunggu Pembayaran' %}
											<div class="card mb-3" style="max-width: 100%; width: 100%;">
												<div class="card-body">
													<div class="progress mb-2" style="height: 3px;">
														<div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
													<div class="media">
														<img class="align-self-center mr-3" src="{% static 'image/wait.png' %}" alt="{{ user.username }}">
														<div class="media-body">
															<small class="font-weight-normal">
																<span class="text-right">No.ID {{ post.id }}</span>
															</small><br>
															<small class="m-0 font-weight-bold text-dark text-capitalize">
																{{ post.nama_depan }} {{ post.nama_belakang }} <a href="{% url 'detail-permintaan' post.id %}" class="badge badge-primary">Selengkapnya</a><br>
																<span class="font-weight-normal">
																	{{ post.buat|date:'M d, Y'}} | 
																	<span class="font-weight-bold text-info">
																		{{ post.status }}
																	</span>
																</span>
															</small>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
										{% endfor %}
									</div>
									<div class="tab-pane fade" id="pengerjaan" role="tabpanel" aria-labelledby="contact-tab">
										{% for post in posts %}
											{% if post.status == 'Dalam Pengerjaan' %}
											<div class="card mb-3" style="max-width: 100%; width: 100%;">
												<div class="card-body">
													<div class="progress mb-2" style="height: 3px;">
														<div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
													<div class="media">
														<img class="align-self-center mr-3" src="{% static 'image/work.png' %}" alt="{{ user.username }}">
														<div class="media-body">
															<small class="font-weight-normal">
																<span class="text-right">No.ID {{ post.id }}</span>
															</small><br>
															<small class="m-0 font-weight-bold text-dark text-capitalize">
																{{ post.nama_depan }} {{ post.nama_belakang }} <a href="{% url 'detail-permintaan' post.id %}" class="badge badge-primary">Selengkapnya</a><br>
																<span class="font-weight-normal">
																	{{ post.buat|date:'M d, Y'}} | 
																	{% if post.status == 'Dalam Pengerjaan' %}
																	<span class="font-weight-bold text-primary">
																		{{ post.status }}
																	</span>
																	{% elif post.status == 'Selesai' %}
																	<span class="font-weight-bold text-success">
																		{{ post.status }}
																	</span>
																	{% else %}
																	<span class="font-weight-bold text-warning">
																		{{ post.status }}
																	</span>
																	{% endif %}
																</span>
															</small>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
										{% endfor %}
									</div>
									<div class="tab-pane fade" id="selesai" role="tabpanel" aria-labelledby="contact-tab">
										{% for post in posts %}
											{% if post.status == 'Selesai' %}
											<div class="card mb-3" style="max-width: 100%; width: 100%;">
												<div class="card-body">
													<div class="progress mb-2" style="height: 3px;">
														<div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
													<div class="media">
														<img class="align-self-center mr-3" src="{% static 'image/selesai.png' %}" alt="{{ user.username }}">
														<div class="media-body">
															<small class="font-weight-normal">
																<span class="text-right">No.ID {{ post.id }}</span>
															</small><br>
															<small class="m-0 font-weight-bold text-dark text-capitalize">
																{{ post.nama_depan }} {{ post.nama_belakang }} <a href="{% url 'detail-permintaan' post.id %}" class="badge badge-primary">Selengkapnya</a><br>
																<span class="font-weight-normal">
																	{{ post.buat|date:'M d, Y'}} | 
																	{% if post.status == 'Dalam Pengerjaan' %}
																	<span class="font-weight-bold text-primary">
																		{{ post.status }}
																	</span>
																	{% elif post.status == 'Selesai' %}
																	<span class="font-weight-bold text-success">
																		{{ post.status }}
																	</span>
																	{% else %}
																	<span class="font-weight-bold text-warning">
																		{{ post.status }}
																	</span>
																	{% endif %}
																</span>
															</small>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
										{% endfor %}
									</div>
								</div>					
							</div>		
						</div>
					</div>
				</div>
			</div>
		</div>            
	</div>
</section>
<!-- End banner Area -->
{%endblock %}