{% load static %}


<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{% static 'upload/img/fav.png' %}">
	<meta name="author" content="CodePixar">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>Tukangku | One Tukang for Every Need</title>
	{% block map %}
	{% endblock %}
	<!-- CSS -->
	{% block css %}
	{% endblock %}
<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body class="bg-light">
<!-- Start Header Area-->
<div class="mb-0">
	<nav class="navbar navbar-expand-lg navbar-white bg-white  main_box border-bottom p-2">
		<div class="container" style="max-width: 95%;">
			<!-- Brand and toggle get grouped for better mobile display -->
			<a class="navbar-brand logo_h" href="{% url 'landing' %}"><img src="{% static 'upload/img/logo.png' %}" class="p-0" alt=""></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
				<ul class="nav navbar-nav menu_nav ml-auto">
					<li class="nav-item m-auto"><a class="nav-link" href="{% url 'landing' %}">Home</a></li>
					<li class="nav-item m-auto"><a class="nav-link" href="{% url 'request-create' %}">Buat Pemesanan</a></li>
					{% if user.is_authenticated %}
					<li class="nav-item m-auto"><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
					<li class="nav-item ml-1">
						<a class="nav-link" href="{% url 'profile' %}">
							<img src="{{ user.profile.image.url }}" class="m-auto" style=" width: 30px; height: 30px; object-fit: cover; border-radius: 50%;">
						</a>
					</li>
					{% else %}
					<li class="nav-item m-auto"><a class="nav-link" href="{% url 'registerForm' %}">Daftar</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Masuk</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
</div>
<div class="sticky-top shadow-sm border-bottom">
	<nav class="navbar navbar-expand-sm bg-white navbar-white p-0">
		<div class="container " style="max-width: 95%;">
			<div class="d-flex justify-content-between m-auto">
				{% block url %}
				{% endblock %}
			</div>
		</div>
	</nav>
</div>
{% block nav %}
{% endblock %}
<!-- End Header Area -->
<!-- Content Area -->
{% block content %}
{% endblock %}
<!-- End Content Area -->

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>